{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <section class="page-section portfolio" id="portfolio">
        <div class="container user-container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Pictures</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">


                {% for post in posts %}

                    <img class="img-thumbnail" src="{{ post.post_picture.url }}" alt="" width="150px">

                {% endfor %}

                <div class="pagination container" style="display: flex; justify-content: center;">
                <span class="step-links lead">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                    {% endif %}
                </span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}