{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}
    <section class="page-section portfolio" id="portfolio">
        <div class="container user-container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Login</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-airbnb"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="container">
                <div class="row">


                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <form method="post" >
                            {% csrf_token %}
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label for="user_id">ID</label>
                                    <input class="form-control" id="user_id" type="text" placeholder="ID" name="username" required="required" data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label for="user_password">Password</label>
                                    <input class="form-control" id="user_password" type="password" placeholder="Password" name="password" required="required" data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-xl btn-toolbar input-group" id="sendMessageButton" style="justify-content: center;">Submit</button>
                            </div>
                            <div>
                                <a href="{% provider_login_url 'github' method='oauth2' %}">
                                    <i class="fab fa-github fa-3x" style="color: black"></i>
                                </a>
                                <a href="{% provider_login_url 'google' method='oauth2' %}">
                                    <i class="fab fa-google fa-3x ml-4" style="color: black"></i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}