{% extends 'base.html' %}
{% block content %}
    <section class="page-section portfolio" id="portfolio">
        <div class="container user-container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">sign up</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-airbnb"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="container">
                <div class="row">


                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <form method="post" >
                            {% csrf_token %}
                            {% for form in forms %}
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                        <label for="{{ form.label_for_id }}">{{ form.name }}</label>
                                        <input class="form-control" id="{{ form.id_for_label }}" type="{{ form.type }}" placeholder="{{ form.field.widget.attrs.placeholder }}" name="{{ form.name }}" data-validation-required-message="Please enter your name.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}